<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ZDiags.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <ZDiags.Properties.Settings>
      <setting name="COM_DUT" serializeAs="String">
        <value />
      </setting>
      <setting name="COM_BLE" serializeAs="String">
        <value />
      </setting>
    </ZDiags.Properties.Settings>
  </userSettings>
  <connectionStrings><add name="CentraliteStore_Entities" connectionString="metadata=res://*/CentraliteDataModel.csdl|res://*/CentraliteDataModel.ssdl|res://*/CentraliteDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rs01;initial catalog=ManufacturingStore_v2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="CentraliteEntities" connectionString="metadata=res://*/CentraliteDataModel.csdl|res://*/CentraliteDataModel.ssdl|res://*/CentraliteDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rs01;initial catalog=ManufacturingStore_v2;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>