<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ZBatt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <ZBatt.Properties.Settings>
      <setting name="LED_Red_On_Val" serializeAs="String">
        <value>0.58</value>
      </setting>
      <setting name="LED_Green_On_Val" serializeAs="String">
        <value>0.042</value>
      </setting>
      <setting name="LED_Yellow_On_Val" serializeAs="String">
        <value>0.14</value>
      </setting>
      <setting name="LED_Red_Off_Val" serializeAs="String">
        <value>0.27</value>
      </setting>
      <setting name="LED_Green_Off_Val" serializeAs="String">
        <value>0.00098</value>
      </setting>
      <setting name="LED_Yellow_Off_Val" serializeAs="String">
        <value>0.001</value>
      </setting>
      <setting name="Log_Folder" serializeAs="String">
        <value>LogsBatt</value>
      </setting>
      <setting name="ZPL_Lable_File" serializeAs="String">
        <value>zeus.zpl</value>
      </setting>
      <setting name="Printer_Address" serializeAs="String">
        <value>172.29.250.59</value>
      </setting>
    </ZBatt.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="CLStoreEntities" connectionString="metadata=res://*/CLDataModel.csdl|res://*/CLDataModel.ssdl|res://*/CLDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rs01;initial catalog=ManufacturingStore_v2;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>