<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="CLStoreEntities" connectionString="metadata=res://*/CLDataModel.csdl|res://*/CLDataModel.ssdl|res://*/CLDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rs01;initial catalog=ManufacturingStore_v2;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
 </configuration>